html.christmas .button:not(.custom):not(.login):not(.save) {
	background: linear-gradient(
		to right, 
		rgb(0,128,0) 0%, 
		rgb(0,128,0) 25%, 
		rgb(255,0,0) 25%, 
		rgb(255,0,0) 50%,
		rgb(0,128,0) 50%, 
		rgb(0,128,0) 75%, 
		rgb(255,0,0) 75%, 
		rgb(255,0,0) 100%
	);
	transition: background-color 0.5s;
}

html.christmas .button:not(.custom):not(.login):not(.save):hover {
	background: linear-gradient(
		to right, 
		rgb(0,78,0) 0%, 
		rgb(0,78,0) 25%, 
		rgb(205,0,0) 25%, 
		rgb(205,0,0) 50%,
		rgb(0,78,0) 50%, 
		rgb(0,78,0) 75%, 
		rgb(205,0,0) 75%, 
		rgb(205,0,0) 100%
	);
	color: var(--button-text-color);
	text-shadow: none !important;
}

html.christmas body {
	--body-animation-name: none;
	--body-background: #4e9a06;
}

@media (prefers-color-scheme: dark) {
	html.christmas body {
		--body-background: darkgreen;
	}
	html.christmas .textbox {
		color: var(--text-color);
	}

	html.christmas :root {
		--button-text-color: yellow;
	}

	html.christmas .button:not(.custom):not(.login):not(.save) {
		color: yellow;
	}
}

html.christmas {
	background: #000 url(../images/christmas.jpg) no-repeat center center fixed; /*Image found on https://wallpapersafari.com/w/Mq85ym*/
	background-size: cover;
	-webkit-background-size: cover;
}
